<mat-toolbar style="background-color: #2a3051;" class="topbar">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
            <img id="authLogo" src="{{config.logo}}" width="159" class="light-logo" alt="homepage">
        </a>
    </div>
    <span fxFlex></span>
    <button routerLink="/" type="button" mat-raised-button color="primary">
        <mat-icon>home</mat-icon> Ana Sayfa
    </button>
</mat-toolbar>

<div class="container bg" *ngIf="formFlag">
    <mat-progress-spinner style="margin: 0 auto;top: 50%;" *ngIf="loading" color="primary" mode="indeterminate">
    </mat-progress-spinner>
    <mat-card *ngIf="!loading">
        <mat-card-title>Giriş</mat-card-title>
        <mat-card-content>
            <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="form-element">
                    <mat-form-field>
                        <input matInput placeholder="Kullanıcı Adınız" formControlName="userName">
                        <mat-error
                            *ngIf="!formGroup.controls['userName'].valid && formGroup.controls['userName'].touched">
                            Bu alan zorunludur.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-element">
                    <mat-form-field>
                        <input matInput type="password" placeholder="Şifreniz" formControlName="password">
                        <mat-error
                            *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                            {{ getErrorPassword() }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <br>
                <div gdAreas="side content" gdRows="auto">
                    <div gdArea="side" fxLayoutAlign="flex-start">
                        <button type="button" mat-raised-button routerLink="/auth/register"
                            color="primary">Yeni Hesap Oluştur</button>
                    </div>
                    <div gdArea="content" fxLayoutAlign="flex-end">
                        <button type="submit" mat-raised-button [disabled]="!formGroup.valid"
                            color="primary">Giriş</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>