.form-element {
    margin: 5px 0px 10px;
}

.label-field {
    color: #757575;
    font-size: 18px;
}

.fileUpload {
    border: 2px dashed;
    width: 100px;
    height: 100px;
    color: #1e88e5;
    padding: 0;
}

.cam-upload {
    font-size: 80px;
    height: auto;
    width: auto;
}

.image-preview {
    margin-left: 10px;
}
.favicon .fileUpload{ width: 50px;height: 50px}
.favicon .cam-upload{font-size: 32px;}