<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink routerLink="" routerLinkActive="selected" group="staticQR">
        <a appAccordionToggle routerLink="">
            <mat-icon>select_all</mat-icon>Statik QR Kod Oluştur
        </a>
    </mat-list-item>
    <mat-list-item appAccordionLink *ngIf="service.getLocalStorage('authToken')" routerLink="/dashboard"
        routerLinkActive="selected" group="dashboard">
        <a appAccordionToggle routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>Pano
        </a>
    </mat-list-item>
    <mat-divider>
    </mat-divider><br>
    <mat-list-item appAccordionLink *ngIf="service.getLocalStorage('authToken')" routerLink="/settings"
        routerLinkActive="selected" group="settings">
        <a appAccordionToggle routerLink="/settings">
            <mat-icon>content_paste</mat-icon> Ayarlar
        </a>
    </mat-list-item>
</mat-nav-list>