<mat-toolbar style="background-color: #2a3051;" class="topbar">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
            <img id="authLogo" src="{{config.logo}}" width="159" class="light-logo" alt="homepage">
        </a>
    </div>
    <span fxFlex></span>
    <button routerLink="/" type="button" mat-raised-button color="primary">
        <mat-icon>home</mat-icon> Ana Sayfa
    </button>
</mat-toolbar>
<div class="container bg" *ngIf="formFlag">
    <mat-progress-spinner style="margin: 0 auto;top: 50%;" *ngIf="loading" color="primary" mode="indeterminate">
    </mat-progress-spinner>
    <mat-card *ngIf="!loading">
        <mat-card-title>Kayıt</mat-card-title>
        <mat-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
                <div class="form-element">
                    <mat-form-field>
                        <input matInput placeholder="Adınız" formControlName="firstName">
                        <mat-error
                            *ngIf="!formGroup.controls['firstName'].valid && formGroup.controls['firstName'].touched">
                            {{ required }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-element">
                    <mat-form-field>
                        <input matInput placeholder="Soyadınız" formControlName="lastName">
                        <mat-error
                            *ngIf="!formGroup.controls['lastName'].valid && formGroup.controls['lastName'].touched">
                            {{ required }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-element">
                    <mat-form-field>
                        <input matInput type="email" placeholder="E-posta adresi" formControlName="email">
                        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                            {{ getErrorEmail() }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-element">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Kullanıcı Adınız" formControlName="userName">
                        <mat-error
                            *ngIf="!formGroup.controls['userName'].valid && formGroup.controls['userName'].touched">
                            {{ required }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-element">
                    <mat-form-field>
                        <input matInput type="password" placeholder="Şifreniz" formControlName="password">
                        <mat-error
                            *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                            {{ getErrorPassword() }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-element">
                    <mat-form-field>
                        <input matInput type="password" placeholder="Şifre Tekrar" formControlName="confirmPassword">
                        <mat-error
                            *ngIf="!formGroup.controls['confirmPassword'].valid && formGroup.controls['confirmPassword'].touched">
                            {{ getErrorConfirmPassword() }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-card-actions>
                    <div gdAreas="side content" gdRows="auto">
                        <div gdArea="side" fxLayoutAlign="start">
                            <button type="button" mat-raised-button routerLink="/auth/login" color="primary">Zaten bir hesabınız var mı?</button>
                        </div>
                        <div gdArea="content" fxLayoutAlign="end">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Kayıt Ol</button>
                        </div>
                    </div>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>