<mat-card style="box-shadow:none;">
  <mat-card-title>
    <mat-icon>pages</mat-icon> Dinamik QR Kod
    <span fxFlex></span>
    <button mat-raised-button color="primary" routerLink="/dashboard">
      Back
    </button>
  </mat-card-title>
  <mat-card-subtitle>Dinamik QR Kodunuzu Üretin</mat-card-subtitle>
  <mat-card-content>
    <mat-progress-bar *ngIf="progressLoading" mode="indeterminate"></mat-progress-bar><br>
    <div gdAreas="side content" gdGap="16px" gdRows="auto auto" gdAreas.lt-md="side | content" gdRows.lt-md="auto auto">
      <div gdArea="side">
        <div style="margin-top: 5px; padding: 5px;">
          <form [formGroup]="titleFormGroup" style="margin-top: 5px; padding: 5px;">
            <mat-form-field style="width: 100%;">
              <input matInput name="title" placeholder="QR Kod Başlığı" formControlName="title"
                (focusout)="createEditDynamicQR()">
            </mat-form-field>
            <!--<span fxFlex></span>-->
            <!--<mat-form-field style="width: 50%;">-->
            <!--  <mat-label>Select QR type</mat-label>-->
            <!--  <mat-select name="qrType" formControlName="qrType">-->
            <!--    <mat-option  *ngFor="let type of qrTypeArr" [value]="type.value">-->
            <!--      {{ type.name }}-->
            <!--    </mat-option>-->
            <!--  </mat-select>-->
            <!--</mat-form-field>-->
          </form>
        </div>
        <mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex = $event" mat-stretch-tabs>
          <mat-tab label="Metin">
            <form [formGroup]="textFormGroup" style="margin-top: 5px; padding: 5px;">
              <mat-form-field style="width: 100%;">
                <textarea matInput name="text" placeholder="Metin" formControlName="text" (keyup)="onLinkClick()">
                  </textarea>
              </mat-form-field>
            </form>
          </mat-tab>
          <mat-tab label="URL">
            <form [formGroup]="urlFormGroup" style="margin-top: 5px; padding: 5px;">
              <mat-form-field style="width: 100%;">
                <input matInput name="url" type="url" placeholder="URL" formControlName="url" (keyup)="onLinkClick()">
                <mat-error *ngIf="!urlFormGroup.controls.url.valid && urlFormGroup.controls.url.touched">
                  Geçersiz URL
                </mat-error>
              </mat-form-field>
            </form>
          </mat-tab>
          <mat-tab label="E-posta">
            <form [formGroup]="emailFormGroup" style="margin-top: 5px; padding: 5px;">
              <mat-form-field style="width: 100%;">
                <input matInput name="email" type="email" placeholder="E-posta" formControlName="email"
                  (keyup)="onLinkClick()">
                <mat-error *ngIf="!emailFormGroup.controls.email.valid && emailFormGroup.controls.email.touched">
                  Geçersiz E-posta
                </mat-error>
              </mat-form-field><br>
              <mat-form-field style="width: 100%;">
                <input matInput name="subject" placeholder="Konu" formControlName="subject" (keyup)="onLinkClick();">
              </mat-form-field><br>
              <mat-form-field style="width: 100%;">
                <textarea matInput name="body" placeholder="İçerik" formControlName="body" (keyup)="onLinkClick();">
                  </textarea>
              </mat-form-field><br>
            </form>
          </mat-tab>
          <mat-tab label="Telefon">
            <form [formGroup]="telFormGroup" style="margin-top: 5px; padding: 5px;">
              <mat-form-field style="width: 100%;">
                <input matInput name="tel" type="tel" placeholder="Telefon" formControlName="tel"
                  (keyup)="onLinkClick()">
                <mat-error *ngIf="!telFormGroup.controls.tel.valid && telFormGroup.controls.tel.touched">
                  Geçersiz Telefon Numarası
                </mat-error>
              </mat-form-field>
            </form>
          </mat-tab>
          <mat-tab label="İletişim">
            <form [formGroup]="contactFormGroup" style="margin-top: 5px; padding: 5px 0;">
              <mat-form-field style="width: 100%; margin-top: 5px; padding: 5px 0;">
                <input matInput name="firstName" placeholder="Ad" formControlName="firstName"
                  (keyup)="onLinkClick()">
              </mat-form-field>
              <br>
              <mat-form-field style="width: 100%; margin-top: 5px; padding: 5px 0;">
                <input matInput name="lastName" placeholder="Soyad" formControlName="lastName"
                  (keyup)="onLinkClick()">
              </mat-form-field>
              <br>
              <mat-form-field style="width: 100%; margin-top: 5px; padding: 5px 0;">
                <input matInput name="tel" type="tel" placeholder="Telefon" formControlName="tel" (keyup)="onLinkClick()">
                <mat-error *ngIf="!contactFormGroup.controls.tel.valid && contactFormGroup.controls.tel.touched">
                  Geçersiz Telefon Numarası
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field style="width: 100%; margin-top: 5px; padding: 5px 0;">
                <input matInput name="email" type="email" placeholder="E-posta" formControlName="email"
                  (keyup)="onLinkClick()">
                <mat-error *ngIf="!contactFormGroup.controls.email.valid && contactFormGroup.controls.email.touched">
                  Geçersiz E-posta
                </mat-error>
              </mat-form-field>
            </form>
          </mat-tab>
        </mat-tab-group>
        <div>
          <button type="button" color="primary" mat-raised-button (click)="createEditDynamicQR()"
            [disabled]="!qrCode || qrCode === ''">
            QR Kodu Oluştur
          </button>
        </div>
      </div>
      <mat-card gdArea="content" style="padding-top: 0;">
        <mat-toolbar color="primary">
          <button mat-icon-button [disabled]="!qrCode || qrCode === ''" style="color: white;" (click)="qrDownload()"
            title="QR Kodunuzu Alın">
            <mat-icon style="color: white">save_alt</mat-icon> İndir
          </button>
          <span fxFlex></span>
          <!-- <button mat-icon-button (click)="openDialog()" title="QR Kodunuzu Özelleştirin">
            <mat-icon>more_vert</mat-icon>
          </button> -->
        </mat-toolbar>
        <div class="qr-code" #qrCodeEle></div>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>