<mat-progress-spinner style="margin: 0 auto;top: 50%;" *ngIf="loading" color="primary" mode="indeterminate">
</mat-progress-spinner>

<mat-card *ngIf="!loading" style="margin-bottom: 20px; min-height: 400px;">
    <mat-card-title>
        <mat-icon>dashboard</mat-icon> Pano
        <span fxFlex></span>
        <button mat-raised-button color="primary" (click)="createDynamicQR()">
            Dinamik QR Kodu Oluştur
        </button>
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="matDataSource?.data.length">
            <div>
                <div style="width: 100%">
                    <mat-form-field style="width:25%;">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Arama">
                    </mat-form-field>
                </div>
                <span fxFlex></span>
                <div>
                    <button type="button" mat-icon-button (click)='getData()'
                        style="margin-top: 20px; margin-right: 12px" matTooltip="Refresh">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>

            </div>
            <div class="container mat-elevation-z8">
                <table mat-table [dataSource]="matDataSource" matSort style="width: 100%">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 50px;"> Adı</th>
                        <td mat-cell *matCellDef="let row" style="min-width: 50px;">
                            {{ row.qrName  ? row?.qrName.charAt(0).toUpperCase() + row?.qrName.slice(1) : '' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> QR Tipi </th>
                        <td mat-cell *matCellDef="let row">{{ row?.qrCodeType.toUpperCase()}}</td>
                    </ng-container>
                    <ng-container matColumnDef="created_At">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Oluşturma Zamanı </th>
                        <td mat-cell *matCellDef="let row">
                            {{ config.date(row?.created_At) | date:'medium'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>İşlemler</th>
                        <td mat-cell *matCellDef="let row">
                            <a type="button" mat-icon-button matTooltip="Click on link" matTooltipPosition="left"
                                href="/redirectQR/qrURL/{{row._id}}?adminView=1" target="_blank">
                                <mat-icon>link</mat-icon>
                            </a>
                            <button type="button" mat-icon-button
                                matTooltip="View your {{row.qrName  ? row?.qrName.charAt(0).toUpperCase() + row?.qrName.slice(1) : ''}} Analytics"
                                matTooltipPosition="left"
                                (click)='viewAnalytics(row._id, row.qrName  ? row?.qrName.charAt(0).toUpperCase() + row?.qrName.slice(1) : "", row?.created_At)'>
                                <mat-icon>insert_chart</mat-icon>
                            </button>
                            <button type="button" mat-icon-button routerLink="/dashboard/code/{{row._id}}">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button type="button" mat-icon-button color="warn" (click)='deleteQRCode(row._id)'>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
                    <tr mat-row class="element-row" *matRowDef="let row; columns: displayColumns;">
                    </tr>
                </table>
            </div>
            <mat-paginator [pageSize]="pageLimit" [length]="totalLength" [pageSizeOptions]="config.pagination"
                showFirstLastButtons (page)="changePage($event)"></mat-paginator>
        </div>
        <div class="question-list heading" *ngIf="!matDataSource?.data.length">
            <h3>Henüz bir veri yok!</h3>
        </div>
    </mat-card-content>
</mat-card>